.game-board {
	margin: auto;
}

.black-square {
	background-color: green;
}

.white-square {
	background-color: lightgrey;
}

.square {
	position: relative;
	overflow: hidden;
}

.game-piece {
	position: absolute;
}

.reset-btn {
	position: absolute;
}